#use-case-chatgpt{
    height: 250px;
}

#use-case-selfaware{
    height: 1200px;
}

#use-case-cot{
    height: 1800px; 
}

#use-case-react{
    height: 2000px; 
}

#use-case-elon{
    height: 300px; 
}